

.card {
    
    margin: auto;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
    
      
}

.card_img {

  width: 90%;
  height: 230px;
  
}


.card_img > img {
  height: 252px;
  width: 189px;
}




.btnPrecio {
  width: 110px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(91deg, #000 6%, #BB9696 97%);
}