.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo{
  height: 25px;
  width: 25px;
}

section {
  display: flex;
  width: 600px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5 ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}



body {
  background-image: url("https://i.pinimg.com/564x/1d/65/cc/1d65cc9ce3375d8fe3a993b90a7d41b6.jpg") ;
}
